.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.noDisplay {
    position: absolute;
    bottom: 9em;
    left: 19em;
    font-size: 40px;
}

@media only screen and (max-width: 499px) {
  .noDisplay {
    position: absolute;
    left: 46px;
    top: 500px;
    font-size: 28px;
    text-transform: uppercase;
}
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
